/* Typography */
h1 {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
    background-color: #7289da;
    font-family: Roboto, sans-serif;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

/* Body and Background */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #36393e;
    background-image: url("backg2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

/* Navbar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: 'Cinzel', sans-serif;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.topnav {
    display: flex;
    align-items: center;
    background-color: #070f21;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 999;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: red;
    color: black;
}

.topnav a.active {
    background-color: #7289da;
    color: white;
}

/* Creator Info */
.creator-info {
    /* Add specific styles for creator info */
}

/* Buttons and Inputs */

#file-accept {
    align-items: center;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    /*background-color: #7289da;*/
    background-image: radial-gradient(whitesmoke, #7289da);
}

.input {
    margin-bottom: 20px;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    background-color: red;
    color: black;
    border-radius: 5px;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.input input[type="submit"] {
    padding: 10px 15px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Drag and Drop */


#drop-zone {
    width: 300px;
    height: 300px;
    padding: 10px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
    margin: 0 auto; /* Added to horizontally center the element */
    background-color: #6e415d;
    opacity: 1;
}


/* Styles for when the drop zone is hovered */
#drop-zone.hover {
    border-color: #3498db;
    /*background-color: black;*/
}

/* Styles for the dragover effect */
#drop-zone.dragover {
    background-color: rgba(52, 152, 219, 0.1);
}

/* Image styles within the drop zone */
#drop-zone img {
    width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Ensure the image fills the box */
    opacity: 1; /* Ensure the image is always visible */
    transition: opacity 0.5s;
    position: relative; /* Position the image within the drop zone */
    top: 0;
    left: 0;
}

/* Styles for the image when the drop zone is hovered */
#drop-zone.hover img {
    position: relative; /* Add this if not present */
    /*opacity: 0.4;*/
}

/* Styles for the image when it's confirmed */
#drop-zone img.confirmed {
    background-color: black;
    width: 100%;
    height: 100%;
}

/* Additional styles for creator info */
/* Your additional styles for creator info can go here */
