/*----------------------------------BODY----------------------------------*/
body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #36393e;
    background-image: url("backg2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

/*---------------------------------NAVBAR---------------------------------*/
/*Initial state*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: 'Cinzel', sans-serif;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

/*Initial state*/
.topnav {
    display: flex;
    align-items: center;
    background-color: #070f21;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 999;
}

/*Buttons initial*/
.nav-link {
  color: #f2f2f2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #070f21;
  transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out, border-color 0.4s ease-in-out,
    font-size 0.5s ease-in-out; /* Include border transition */
  border: 2px solid transparent; /* Set transparent border initially */
}

/*Buttons on hover*/
.nav-link:hover {
    border: 2px dashed #faebd7;
    box-shadow: 0 0 20px rgba(255, 0, 204, 0.5); /* Adjust shadow intensity */
}

/*Buttons when pressed*/
.nav-link:active {
  background-color: #7289da;
  transform: scale(0.93); /* Slight scale down on click */
}

/*Cool github links*/
.creator-info {
    background-image: conic-gradient(yellow, blue, red, cyan, orange, palevioletred, green);
    position: fixed;
    right: 5px; /* Adjust this value to position it as desired */
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    background-clip: text; /* Applies text color to the background */
    color: transparent; /* Hides the text color */
    -webkit-background-clip: text; /* For Safari */
    text-fill-color: transparent; /* For Firefox */
    animation: rainbow-text 5s infinite; /* Animating the text */
}

/*Cool github links*/
@keyframes rainbow-text {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.github-link {
    color: #5899c3;
}
.github-link:hover {
    color: wheat;
}


/*---------------------------------Drag and Drop---------------------------------*/

/*Main window*/
#file-accept {
    align-items: center;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    /*background-color: #7289da;*/
    background-image: radial-gradient(whitesmoke, #7289da); accent-color: rgb(66 146 209);
}

/*Slight extension of the blue box*/
.input {
    margin-bottom: 20px;
}



/*Event on submit*/
.green-button {
    display: block;
    margin: 10px auto 0; /* Adding top margin */
    padding: 10px 15px;
    background-color: #00264d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, width 1s ease-in-out, height 1s ease-in-out,
    background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

/* Add hover effect on the submit button */
.green-button:hover {
    background-color: green;
    box-shadow: 0 0 20px rgba(20, 130, 10, 0.5); /* Adjust shadow intensity */
}

/* Drag and Drop zone*/
#drop-zone {
    width: 300px;
    height: 300px;
    padding: 10px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    position: relative;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, font-size 0.4s ease-in-out,
        width 1s ease-in-out, height 1s ease-in-out;
    margin: 0 auto; /* Added to horizontally center the element */
    background-color: #6e415d;
    opacity: 1;
}

/* Styles for when the drop zone is hovered */
#drop-zone.hover {
    border-color: #3498db;
    font-size: 16.5px;
}

/* Styles for the image when the drop zone is hovered */
#drop-zone.hover img {
    position: relative; /* Add this if not present */
    opacity: 0.8;

}


/* Image styles within the drop zone */
#drop-zone img {

    /* Initial/default styles */
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px; /* Update border radius for default image */
    transition: all 0.6s ease-in-out; /* Applying transition to all properties */

}

#uploaded-image {
    position: absolute;
    width: 325px;
    height: 325px;
    border-radius: 10px;
    max-width: 110%;
    max-height: 110%;
    object-fit: cover;
    /*opacity: 0.4;*/
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Disable pointer events on the image itself */
    transition: width 0.5s ease; /* Add transition effect */
}


.default-size {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.6s ease-in-out;
}

.enlarged-size {
    width: 325px;
    height: 325px;
    border-radius: 10px;
    max-width: 110%;
    max-height: 110%;
    transition: width 0.5s ease;
}


