<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

    <title>Hell Yeah</title>
</head>
<body>
    <h1>{{content}}</h1>

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*">
        <input type="submit" value="Upload">
    </form>

    {% if filename %}
        <h2>Uploaded Image:</h2>
        <img src="{{ url_for('uploaded_file', filename=filename) }}" alt="Uploaded Image" width="200" height="200">
    {% endif %}
</body>
</html>